
footer{
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    margin-top: 20px;
}


img{
    display: block;
    height: 100%;
}

/*
.main-header{
    width: 100%;
    height: auto;
    background-color: rgb(40, 41, 82);
    padding: 5px;
    margin-bottom: 10px;
}
*/
.navigation-menu{
    width: 100%;
    height: auto;
    background-color: rgb(40, 41, 82);
    padding: 5px;
    margin-bottom: 10px;
    
    
}
.parent-menu :hover{
    
    margin :0;
    padding: 0;
    text-decoration : none;
    
}
.a-propos, .annonces, .outils, .Cadeaux, .jeux{
    display : inline-flex ;
    margin: 0 15px;
    padding: 10px 0;
    text-align: center;

}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    transition: opacity 0.3s;
}
.logo{
    height: 70px;
    float: left;
}
